:root {
  --main-bg-color: black;
  --text-color: #fff;
}
[data-theme="dark"] {
  --main-bg-color: #e99d6c;
  --text-color: rgb(148, 134, 134);
}
body {
  background-color: var(--main-bg-color);
}
.header {
  background-color: #d74e30;
  width: 100%;
  height: 100%;
}
.Container {
  display: flex;
  flex-direction: column;
}
.Container_Top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.Container_Bottom {
  width: 10em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 15em;
  margin-top: 2em;
  flex-shrink: 0;
}
.Column {
  width: 100%;
  min-width: 160px;
  height: 200px;
  margin: 10px;
}

.Column::after {
  width: 200px;
}
.card2 {
  background-image: url("/images/BackImg.svg");
  display: inline-block;
  object-fit: cover;
  background-size: 127px 183px;
  width: 128px;
  height: 182px;
  /* margin-bottom: -9.84rem; */
  margin-bottom: -9.84rem;
  margin-top: 0;
}
/*
.card2:hover {
  border: 1px solid #0e30f0;
  border-radius: 7px;
}
*/
.topy {
  display: block;
  object-fit: contain;
  width: 160px;
  height: 203px;
  margin-left: 10px;
  background-repeat: no-repeat;
  margin-bottom: -12.6rem;
}

.topCards {
  background-image: url("/images/backImage.svg");
  object-fit: contain;
  width: 160px;
  height: 200px;
  margin-left: 10px;
  margin-bottom: -12.4rem;
}

.shuffle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.decks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topStack {
  width: 200px;
  height: 200px;
  margin: 10px;
}

/* .waste {
  background-image: url("/images/placeHolder.svg");
  width: 160px;
  height: 200px;
  margin-left: 10px;
  margin-bottom: -12.4rem;
} */

.discards {
  width: 160px;
  height: 150px;
  object-fit: contain;
  margin-top: 25px;
  margin-bottom: -10.84rem;
}

#heart {
  background: #aa4806;
  border-radius: 5%;
  padding: 1em;
  width: 140px;
  height: 193px;
  margin: 10px;
}
#club {
  background: #aa4806;
  border-radius: 5%;
  padding: 1em;
  width: 140px;
  height: 193px;
  margin: 10px;
}
#spade {
  background: #aa4806;
  border-radius: 5%;
  padding: 1em;
  width: 140px;
  height: 193px;
  margin: 10px;
}
#diamond {
  background: #aa4806;
  border-radius: 5%;
  padding: 1em;
  width: 140px;
  height: 193px;
  margin: 10px;
}

.holdings {
  opacity: 0.5;
  border: solid 2px #fff;
  box-shadow: 0px 0px 7px 4px rgba(45, 255, 196, 0.57);
}

.drag-over {
  opacity: 0.5;
}

.a1 {
  margin-right: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  height: 1.25em;
  width: 4em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#7158e2, #cd84f1);
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.a2 {
  font-family: "Roboto", sans-serif;
  margin-right: 2em;
  font-size: 2em;
  height: 1.25em;
  width: 5em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#e2e058, #4ddb22);
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.a3 {
  font-family: "Roboto", sans-serif;
  margin-right: 2em;
  font-size: 2em;
  height: 1.25em;
  width: 7.4em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#df2403, #9774ad);
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.a4 {
  font-family: "Roboto", sans-serif;
  margin-right: 2em;
  font-size: 2em;
  height: 1.25em;
  width: 4.4em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#df03af, #19b9a4);
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.a4:hover,
.a3:hover,
.a2:hover,
.a1:hover {
  opacity: 0.5;
}
.spad {
  width: 0.6em;
}
.T1 {
  font-family: "Roboto", sans-serif;
  margin-right: 2em;
  font-size: 2em;
  height: 1.25em;
  width: 4.8em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#03df96, #19b9a4);
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.Activated {
  background: linear-gradient(#df0a03, #19b4b9);
  animation: slidein 2s infinite;
}
.bottom_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottom_status {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom_scores {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  height: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flash1 {
  animation: fl1 2s infinite;
}
.flash2 {
  animation: fl2 0.1s infinite;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.lbl {
  background: linear-gradient(#df0a03, #19b4b9);
  font-size: 2em;
  border-radius: 25%;
  margin-right: 0.1em;
}
.swTog {
  display: flex;
}
.Compress {
  margin: 0;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #034279;
}

input:focus + .slider {
  box-shadow: 0 0 1px #010d18;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Animation */
@keyframes slidein {
  0% {
    box-shadow: 0 6px #ef2424;
    transform: translateY(0px);
  }

  100% {
    box-shadow: 0 4px #ef2424;
    top: 2px;
    transform: translateY(5px);
  }
}
@keyframes fl1 {
  0% {
    color: #fff;
  }
  50% {
    color: rgb(200, 139, 39);
  }
  100% {
    color: rgb(255, 3, 3);
  }
}
@keyframes fl2 {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 3, 3);
  }
}
