body {
  background-color: #d74e30;
}
h1 {
  font-family: "Fredericka the Great", cursive;
  color: #fff;
  font-size: 8em;
  letter-spacing: 0.05em;
}
a {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  height: 1.25em;
  width: 12rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(#7158e2, #cd84f1);
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.spade {
  width: 0.6em;
}
.Card_group1 {
  display: flex;
  align-items: center;
}
.Card_group2 {
  display: flex;
  justify-content: space-between;
}
.Headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
