body {
  background-color:black;
}
.header {
  background-color: #d74e30;
  width: 100%;
  height: 100%;
}
.Container {
  display: flex;
  flex-direction: column;
}
.Container_Top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.Container_Bottom {
  width: 10em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 15em;
  margin-top: 2em;
}
.Column {
  /*background-image: url("/images/placeHolder.svg");*/
  background-image: url("/images/placeHolder.svg");
  width: 200px;
  height: 200px;
  margin: 10px;
}
.card2 {
  background-image: url("/images/backImage.svg");
  display: inline-block;
  width: 160px;
  height: 200px;
  margin-left: 10px;
  margin-bottom: -12rem;
}

.topCards {
  background-image: url("/images/backImage.svg");

  width: 160px;
  height: 200px;
  margin-left: 10px;
  margin-bottom: -12.4rem; 

}

.shuffle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.topStack{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.waste{
  background-image: url("/images/placeHolder.svg");
  width: 150px;
  height: 200px;
  margin: 10px;
}


.discards {
  width: 160px;
  height: 150px;
  object-fit: contain;
  margin-top: 25px;
  margin-bottom: -12.4rem; 

}